/**
 * TODOS
 *  - Nav Menu items have a weird and not ideal click area
 *  - Do i want a larger XL size that puts the sidebar to the right as a full
 *    height thing?
 *  -
 *
 **/

.expandable {
  --bg-opacity: 1;
  background-color: #2d3748;
  background-color: rgba(45, 55, 72, var(--bg-opacity));
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  top: 4rem;
  transition: max-height 0.5s ease-in-out;
  max-height: 0px;
}

.expandable.expand {
  max-height: 100vh;
}

@media (min-width: 1024px) {
  .expandable {
    position: relative;
    margin-top: 0.5rem;
    padding: 0;
    top: initial;
    max-height: initial;
  }
}

/*@screen xl {*/

/*.expandable {*/

/*max-height: 100vh;*/

/*}*/

/*}*/

.sidebar-nav {
  width: 100%;
  --bg-opacity: 1;
  background-color: #2d3748;
  background-color: rgba(45, 55, 72, var(--bg-opacity));
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  height: 100%;
  border-width: 0;
  border-bottom-width: 1px;
  --border-opacity: 1;
  border-color: #4a5568;
  border-color: rgba(74, 85, 104, var(--border-opacity));
}

.sidebar-nav h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  --text-opacity: 1;
  color: #edf2f7;
  color: rgba(237, 242, 247, var(--text-opacity));
  margin: 0;
}

.sidebar-nav h2 a, .sidebar-nav h2 a:visited {
  --text-opacity: 1;
  color: #edf2f7;
  color: rgba(237, 242, 247, var(--text-opacity));
}

@media (min-width: 1024px) {
  .sidebar-nav {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    border-width: 0;
  }
}

/*@screen xl {*/

/*.sidebar-nav {*/

/*@apply h-screen justify-start;*/

/*}*/

/*}*/

ul.nav-list {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul.nav-list .list-divider {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom-width: 1px;
  --border-opacity: 1;
  border-color: #4a5568;
  border-color: rgba(74, 85, 104, var(--border-opacity));
}

@media (min-width: 1024px) {
  ul.nav-list {
    padding: 0;
  }
}

.nav-item {
  cursor: pointer;
  --text-opacity: 1;
  color: #edf2f7;
  color: rgba(237, 242, 247, var(--text-opacity));
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.nav-item:hover, .nav-item.active {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  --bg-opacity: 1;
  background-color: #1a202c;
  background-color: rgba(26, 32, 44, var(--bg-opacity));
}

.nav-item:hover a, .nav-item.active a {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.nav-item a {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  --text-opacity: 1;
  color: #edf2f7;
  color: rgba(237, 242, 247, var(--text-opacity));
}

.nav-item a:visited {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.hamburger-bun {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: 1024px) {
  .hamburger-bun {
    display: none;
  }
}

/*@screen xl {*/

/*.hamburger-bun {*/

/*@apply hidden;*/

/*}*/

/*}*/

body {
  display: grid;
  grid:
    "sidebar" auto
    "content" auto
    / 100%;
}

@media (min-width: 1024px) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    grid:
      "content sidebar" 8rem
      "content aside" auto
      / calc(100% - 16rem) 16rem;
  }
}

/*@screen xl {*/

/*body {*/

/*@apply mx-0;*/

/*grid:*/

/*"sidebar header header" auto*/

/*"sidebar content aside" auto*/

/*/ 16rem calc(100% - 32rem) 16rem;*/

/*}*/

/*}*/

#main-sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  grid-area: sidebar;
}

@media (min-width: 1024px) {
  #main-sidebar {
  }
}

/*@screen xl {*/

/*#main-sidebar {*/

/*@apply fixed justify-start;*/

/*width: 16rem;*/

/*min-height: 100vh;*/

/*}*/

/*}*/

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 1024px) {
  main {
    margin-left: 0;
    margin-right: 1rem;
  }
}

/*@screen xl {*/

/*main {*/

/*@apply flex-row ml-4 mr-0;*/

/*}*/

/*}*/

#page-header {
  /*grid-area: content;*/
  display: flex;
  flex-direction: column;
  border-bottom-width: 2px;
  --border-opacity: 1;
  border-color: #edf2f7;
  border-color: rgba(237, 242, 247, var(--border-opacity));
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#page-header h1 {
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
  font-size: 2.25rem;
  margin: 0;
}

@media (min-width: 1024px) {
  #page-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 0;
    margin-right: 0;
  }
}

/*@screen xl {*/

/*#page-header {*/

/*@apply ml-4;*/

/*}*/

/*}*/

/* Naked code tags */

.post code.highlighter-rouge {
  --bg-opacity: 1;
  background-color: #1a202c;
  background-color: rgba(26, 32, 44, var(--bg-opacity));
  font-size: 0.875rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  line-height: 1.5;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  border-radius: 0.125rem;
  padding: 0.25rem;
}

/* ``` and ```lang tags */

.post div.highlighter-rouge {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post div.highlighter-rouge pre.highlight {
  --bg-opacity: 1;
  background-color: #1a202c;
  background-color: rgba(26, 32, 44, var(--bg-opacity));
  font-size: 0.875rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  line-height: 1.5;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding: 1rem;
  overflow: scroll;
  border-width: 0;
  border-top-width: 8px;
  --border-opacity: 1;
  border-color: #2c5282;
  border-color: rgba(44, 82, 130, var(--border-opacity));
}

/* { highlight } tags */

.post figure.highlight {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.post figure.highlight > pre {
  --bg-opacity: 1;
  background-color: #1a202c;
  background-color: rgba(26, 32, 44, var(--bg-opacity));
  border-width: 0;
  border-top-width: 8px;
  --border-opacity: 1;
  border-color: #2c5282;
  border-color: rgba(44, 82, 130, var(--border-opacity));
  overflow: scroll;
  padding: 1rem;
}

/* { highlight linenos } tags */

.post figure.highlight {
  font-size: 0.875rem;
}

.post figure.highlight table {
  width: 100%;
}

.post figure.highlight .gutter {
  border-width: 0;
  border-right-width: 1px;
  --border-opacity: 1;
  border-color: #2c5282;
  border-color: rgba(44, 82, 130, var(--border-opacity));
}

.post figure.highlight .gutter > pre {
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --text-opacity: 1;
  color: #a0aec0;
  color: rgba(160, 174, 192, var(--text-opacity));
}

.post figure.highlight .code > pre {
  font-size: 0.875rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  line-height: 1.5;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding-left: 0.5rem;
}

/* { source } tags */

.post .highlight .emphasized span {
  opacity: 0.5;
}

.post .highlight .emphasized span.hll {
  opacity: 1;
}

.post .highlight .emphasized span.hll span {
  opacity: 1;
}
