a.annotation-trigger {
  @apply px-2 py-1 rounded-md text-black;
  text-decoration: none;
}

a.annotation-trigger:visited {
  @apply text-black;
}

a.annotation-trigger::after {
  content: " [+]";
  font-family: monospace;
  font-size: 0.75em;
  vertical-align: middle;
}

a.annotation-trigger.-active::after {
  content: " [-]";
}

a.annotation-trigger ~ span.annotation {
  @apply hidden;
}

a.annotation-trigger.-active ~ span.annotation {
  @apply block my-2 px-5 py-3 rounded-md text-black;
}

a.annotation-trigger.-gray {
  @apply bg-gray-300;

  & ~ span.annotation {
    @apply bg-gray-200;
  }
}

a.annotation-trigger.-red {
  @apply bg-red-400;

  & ~ span.annotation {
    @apply bg-red-300;
  }
}

a.annotation-trigger.-orange {
  @apply bg-orange-400;

  & ~ span.annotation {
    @apply bg-orange-300;
  }
}

a.annotation-trigger.-yellow {
  @apply bg-yellow-400;

  & ~ span.annotation {
    @apply bg-yellow-300;
  }
}

a.annotation-trigger.-blue {
  @apply bg-blue-400;

  & ~ span.annotation {
    @apply bg-blue-300;
  }
}

a.annotation-trigger.-green {
  @apply bg-green-400;

  & ~ span.annotation {
    @apply bg-green-300;
  }
}

a.annotation-trigger.-purple {
  @apply bg-purple-400;

  & ~ span.annotation {
    @apply bg-purple-300;
  }
}
