/**
 * TODOS
 *  - Nav Menu items have a weird and not ideal click area
 *  - Do i want a larger XL size that puts the sidebar to the right as a full
 *    height thing?
 *  -
 *
 **/
.sidebar-nav {
  @apply w-full bg-gray-800 flex flex-row content-center justify-between items-baseline p-4 h-full border-0 border-b border-gray-700;

  & h2 {
    @apply text-2xl font-bold leading-tight text-gray-200 m-0;

    & a, & a:visited {
      @apply text-gray-200;
    }
  }
}

@screen lg {
  .sidebar-nav {
    @apply justify-center flex-col items-center h-auto border-0;
  }
}

ul.nav-list {
  @apply list-none px-0 py-2 w-full font-sans;

  & .list-divider {
    @apply my-1 border-b border-gray-700;
  }
}

@screen lg {
  ul.nav-list {
    @apply p-0;
  }
}

.nav-item {
  @apply cursor-pointer text-gray-200 rounded p-2;

  &:hover, &.active {
    @apply text-white bg-gray-900;

    & a {
      @apply text-white;
    }
  }

  & a {
    @apply block w-full rounded text-gray-200;

    &:visited {
      @apply text-white;
    }
  }
}

body {
  @apply grid;

  grid:
    "sidebar" auto
    "content" auto
    / 100%;
}

@screen lg {
  body {
    @apply mx-auto;
    max-width: 1000px;

    grid:
      "content sidebar" 8rem
      "content aside" auto
      / calc(100% - 16rem) 16rem;
  }
}

#main-sidebar {
  @apply w-full flex flex-col sticky top-0;

  grid-area: sidebar;
}

@screen lg {
  #main-sidebar {
  }
}

#nav-links {
  @apply w-full px-4 lg:mt-2 lg:p-0;
}

main {
  grid-area: content;

  @apply flex flex-col mx-4;
}

@screen lg {
  main {
    @apply ml-0 mr-4;
  }
}

#page-header {
  /*grid-area: content;*/

  @apply flex flex-col border-b-2 border-gray-200 mb-4 py-2;

  & h1 {
    @apply text-gray-900 text-4xl m-0;
  }
}

@screen lg {
  #page-header {
    @apply flex-row justify-between items-baseline mx-0;
  }
}

.post {
  /* Naked code tags */
  & code.highlighter-rouge {
    @apply bg-gray-900 text-sm text-white leading-normal font-mono rounded-sm p-0.5;
  }

  /* ``` and ```lang tags */
  & div.highlighter-rouge {
    @apply my-4;

    & pre.highlight {
      @apply bg-gray-900 text-sm text-white leading-normal font-mono p-4 overflow-scroll;

      @apply border-0 border-t-8 border-blue-800;
    }
  }

  /* { highlight } tags */
  figure.highlight {
    @apply my-4 text-sm;

    & > pre {
      @apply bg-gray-900 border-0 border-t-8 border-blue-800 overflow-scroll;

      @apply p-4;
    }
  }

  /* { highlight linenos } tags */
  figure.highlight {
    @apply text-sm;

    & table {
      @apply w-full;
    }

    & .gutter {
      @apply border-0 border-r border-blue-800;

      & > pre {
        @apply text-sm leading-normal font-mono text-gray-500;
      }
    }

    & .code > pre {
      @apply text-sm text-white leading-normal font-mono pl-2;
    }
  }

  /* { source } tags */
  .highlight .emphasized {
    & span {
      opacity: 0.5;
    }

    & span.hll {
      opacity: 1;

      & span {
        opacity: 1;
      }
    }
  }
}

a.annotation-trigger {
  @apply px-2 py-1 rounded-md text-black;
  text-decoration: none;
}

a.annotation-trigger:visited {
  @apply text-black;
}

a.annotation-trigger::after {
  content: " [+]";
  font-size: 0.75em;
  vertical-align: middle;
}

a.annotation-trigger.-active::after {
  content: " [-]";
}

a.annotation-trigger ~ span.annotation {
  @apply hidden;
}

a.annotation-trigger.-active ~ span.annotation {
  @apply block my-2 px-5 py-3 rounded-md text-black;
}

a.annotation-trigger.-gray {
  @apply bg-gray-300;

  & ~ span.annotation {
    @apply bg-gray-200;
  }
}

a.annotation-trigger.-red {
  @apply bg-red-400;

  & ~ span.annotation {
    @apply bg-red-300;
  }
}

a.annotation-trigger.-orange {
  @apply bg-orange-400;

  & ~ span.annotation {
    @apply bg-orange-300;
  }
}

a.annotation-trigger.-yellow {
  @apply bg-yellow-400;

  & ~ span.annotation {
    @apply bg-yellow-300;
  }
}

a.annotation-trigger.-blue {
  @apply bg-blue-400;

  & ~ span.annotation {
    @apply bg-blue-300;
  }
}

a.annotation-trigger.-green {
  @apply bg-green-400;

  & ~ span.annotation {
    @apply bg-green-300;
  }
}

a.annotation-trigger.-purple {
  @apply bg-purple-400;

  & ~ span.annotation {
    @apply bg-purple-300;
  }
}

.callout {
  @apply bg-gray-50 p-4 border-t-4 border-b-4;
}

.callout.red {
  @apply bg-red-50 border-red-400 text-red-800;
}

.callout.orange {
  @apply bg-orange-50 border-orange-400 text-orange-800;
}

.callout.yellow {
  @apply bg-yellow-50 border-yellow-400 text-yellow-800;
}

.callout.blue {
  @apply bg-blue-50 border-blue-400 text-blue-800;
}

.callout.purple {
  @apply bg-purple-50 border-purple-400 text-purple-800;
}

.callout.green {
  @apply bg-green-50 border-green-400 text-green-800;
}
