{% extends "layout.html" %}
{% from "macros/projects.html" import
  render_project_list, render_category_nav %}
{% block site_title %}Projects{% endblock %}
{% block body %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
            <div class="content">
              <h1 class="title">
                Projects
              </h1>
              {{ render_project_list(this.children) }}
            </div>
        </div>
        <div class="column">
          <div class="content">
            <h1 class="title">
              Project Categories
            </h1>
            {{ render_category_nav(active=none) }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
